body {
  font-family: sans-serif;
}

.prop {
  font-weight: bold;
}

.null {
  color: red;
}

.bool {
  color: blue;
}

.num {
  color: blue;
}

.string {
  color: green;
  white-space: pre-wrap;
}

#error {
  -moz-border-radius: 8px;
  border: 1px solid #970000;
  background-color: #F7E8E8;
  margin: .5em;
  padding: .5em;
}

.errormessage {
  font-family: monospace;  
}

#json {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 1.1em;
}

h1 {
  font-size: 1.2em;
}

.callback {
  font-family: monospace;
  color: #A52A2A;
}
.folded > .content {
  display: none;
}

.folded.array:after {
  content: "[\002026 ]"; /* [...] */
}

.folded.obj:after {
  content: "{\002026 }"; /* {...} */
}

.folded {
  cursor: se-resize;
}

.unfolded {
  cursor: nw-resize;
}
